.Grid {
    display: inline;
  }
.gridItem {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  position: relative;
  background-color: hsla(0,0%,100%,.3);
  -webkit-box-shadow: 0 1px 10px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.2);
  margin: 20px 5px;
}

.checkItem {
  margin: 20px;
}
.checkItem label {
  display: block;
  height: 50px;
  width: 95%;
  border: 1px solid #307EB8;
  margin: 5px;
  border-radius: 25px;
}

.gridItemText {
  color: #307EB8;
  display: block;
  font-weight: bold;
  padding-top: 10px;
}

.userSelect {
  position: absolute;
  bottom: 0;
}

.userSelect label {
  cursor: pointer;
  height: 40px;
  width: 200px;
}

.userSelect input {
  display: none;
}

@media only screen and (max-width: 600px) {
  .gridItem {
      width: 100%;
      margin: 0;
  }
  .userSelect {
    position: relative;
    bottom: 0;
    display: inline-block;
  }
}

.sky-logo {
  background-image: url('https://www.sky.com/assets/masthead/images/sky-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 48px;
}

.divide {
  height: 27px;
  background: linear-gradient(90deg, #0644a1, #862e81);
  color: white;
  display: block;
  padding: 10px 0 0;
}

.basket {
  min-height: 300px;
  padding: 0;
}

.heading {
  background: #307EB8;
  color: #fff;
  display: block;
  height: 30px;
  padding-top: 10px;
  width: 100%;
}

.basketProductContainer{
  border-bottom: 2px solid #307EB8;
  display: block;
  margin: 20px 0 0;
  padding: 10px;
}

.basketItem {
  display: block;
  width: 100%;
  text-align: left;
  margin: 0 5px 20px;
}

.basketButtonContainer {
  display: inline;
}

.basketButton {
  display: block;
  height: 50px;
  margin: 10px auto;
  width: 37%;
  color: #fff;
  background: #862e81;
  border-radius: 25px;
  font-size: 14px;
}

.basketButton:disabled,
.basketButton[disabled]{
  background-color: #cccccc;
  color: #666666;
}